* {
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 7000;
    font-style: normal;
    color: #fff;
}

body {
    background-color: #5500ff;
}

img {
    width: 200px;
    border:5px solid;
    border-color: #fff;
    border-radius: 20%;
    margin: 1%;
}

button.download-button {
    background-color: #6418fc;
    border: 5px solid;
    cursor: pointer;
    width: 450px;
    text-align: center;
    box-shadow: 4px 4px 0px #000000;
    transition: transform 200ms ease-in-out;
}

button.download-button:hover{
    transform: scale(1.05);
    background-color: #702afd;
}